/db/env.php
db/env.php
/upload/
upload/
/upload/img/
upload/img/
/app/config-general/api/salary_min.json
app/config-general/api/salary_min.json
phpDocumentor.phar
resources/youtube_tutorials.json
/resources/youtube_tutorials.json
.idea/
/.idea/
js/reporte.js
js/app/indicators2.js
js/app/indicators2.js
js/reporte.js
rc refspec desarrollo does not match anyexit

node_modules